a:focus {outline:none;}
html {background:#333; height:100%;}
body {/*font-family:'Conv_UniversLTStd',Sans-Serif;*/ font-size:16px; color:#000; background:#ece9dc;}
.margin-top-30 {margin-top:30px;}

.search-row form {float:right; margin-top:30px;}
.search-field {background:#fff; border:none; padding:4px 6px; width:87%;}
.search-btn {background:url(../images/search-icon.png) no-repeat 0 3px; width:10%; text-indent:-5000px; background-color:none; border:none;}



/*sitemap*/
.search-sitemap {background:#dddace; padding:15px 0; 
background: rgba(200,197,186,1);
background: -moz-linear-gradient(left, rgba(200,197,186,1) 0%, rgba(218,215,203,1) 30%, rgba(218,215,203,1) 69%, rgba(200,197,186,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(200,197,186,1)), color-stop(30%, rgba(218,215,203,1)), color-stop(69%, rgba(218,215,203,1)), color-stop(100%, rgba(200,197,186,1)));
background: -webkit-linear-gradient(left, rgba(200,197,186,1) 0%, rgba(218,215,203,1) 30%, rgba(218,215,203,1) 69%, rgba(200,197,186,1) 100%);
background: -o-linear-gradient(left, rgba(200,197,186,1) 0%, rgba(218,215,203,1) 30%, rgba(218,215,203,1) 69%, rgba(200,197,186,1) 100%);
background: -ms-linear-gradient(left, rgba(200,197,186,1) 0%, rgba(218,215,203,1) 30%, rgba(218,215,203,1) 69%, rgba(200,197,186,1) 100%);
background: linear-gradient(to right, rgba(200,197,186,1) 0%, rgba(218,215,203,1) 30%, rgba(218,215,203,1) 69%, rgba(200,197,186,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8c5ba', endColorstr='#c8c5ba', GradientType=1 );
}
.search-sitemap form {margin:0 30%; font-size:18px;}
@media (min-width: 768px) {
	.seven-cols {padding:0 15px;}
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }

  .seven-cols .col-md-1 {padding-right:0; padding-left:2px;}
  
}
/* 14% = 100% (full-width row) divided by 7 */

.sitemap-list-col h5 {background:#092f87; color:#fff; text-align:center; padding:10px 0; margin:0;}
.sitemap-list-col ul {margin:0; padding:0; list-style:none;}
.sitemap-list a {display:block; background:#8a8e63 url(../images/sitemap-sector.gif) no-repeat; border-left:2px solid #707541; text-align:center; color:#fff; padding:10px 0;}
.sitemap-list-col ul li > ul {display:none;}
.sitemap-list li > ul li a {background:#536eab url(../images/sitemap-sector-blue.gif) no-repeat 100% 0; border-right:2px solid #2e4e99; border-left:none;}

.sitemap-list li > ul ul li a {background:#b1afa5 url(../images/sitemap-sector-grey.gif) no-repeat ; border-right:none; border-left:2px solid #97958c;}
.sitemap-list a:hover {text-decoration:none; color:#000;}

.toggalAll {margin-bottom:15px; float: right; background:#585f21; color:#fff; padding:7px 15px;}
.toggalAll:hover, .toggalAll:focus {background:#092f87; color:#fff; text-decoration:none;}
.toggalAll:focus {background:#585f21; color:#fff; text-decoration:none;}
.toggalAll:focus:hover {background:#092f87; color:#fff; text-decoration:none;}
.notFound {display: none;}

.toggleIconClass {}

.sitemap-list li {position: relative;}
.sitemap-list li span.toggleIconClass {position:absolute; float:left; width:44px; height:44px; top:0; cursor: pointer;}
.sitemap-list li span.toggleIconClass::before {content:"\f067"; font-family: FontAwesome; left:14px; position:absolute; top:14px; font-size:12px; color:#fff;}
.sitemap-list li span.plusIcon::before {content:"\f068"; font-family: FontAwesome; left:14px; position:absolute; top:14px; font-size:12px; color:#fff;}